# Temporary files
__pycache__
.pytest_cache
__MACOSX
.DS_Store

# Environment
*venv
.pytest.ini

# Config
config.local.json
selenoid
geckodriver
chromedriver

# IDE files
.idea
.vscode

# Log files and reports
*log
*.log
*allure-results
*allure-report
report.*

# Other files
TMP
TEMP
temp
samples
video
screenshots
*.http
github.txt
