allure-pytest         ~=2.13.5
allure-python-commons ~=2.13.5
attrs                 ~=23.1.0
Faker                 ~=25.2.0
logger                ~=1.4
pytest                ~=7.4.3
pytest-emoji          ~=0.2.0
pytest-html           ~=4.1.1
pytest-xdist          ~=3.6.1
requests              <=3.0.0
urllib3               ~=2.1.0
validators            ~=0.22.0
